/* CUSTOM PROPERTIES */

:root {
  --first-color: rgba(136, 143, 110, 1);
  --second-color: rgba(212, 240, 113, 1);
  --third-color: rgba(225, 237, 183, 1);
  --fourth-color: rgba(31, 32, 26, 0.4);
  --opp-color: rgba(115, 136, 38, 0.5);
  --alt-color: rgba(177, 186, 143, 0.85);
  --text-color: #00141a;
  --max-width: 1400px;
}

/*RESET*/

html {
  box-sizing: border-box;
  /* font-family: var(); */
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  /* color: var(); */
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

P {
  line-height: 1.6;
}

/* UTILITIES */

.btn {
  border: 1px solid var(--second-color);
  background-color: var(--second-color);
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.75;
}

/* HERO IMAGE */

.hero-image {
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-color);
}

.hero-image-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.hero-image-title,
.hero-image-text {
  font-size: 3.75vw;
  color: var(--color);
}

.hero-image-text {
  font-size: 1.75vw;
}

/* SITE STYLES */

.card {
  fill: var(--second-color);
  stroke: var(--second-color);
}

.card a {
  width: 10rem;
}

.card svg {
  width: 7.5rem;
}

.card p {
  margin: 0;
}

.contact {
  background-color: var(--alt-color);
  margin-top: 1rem;
  padding: 2rem 0;
}

.contact-cards {
  display: flex;
  justify-content: space-evenly;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--third-color);
  border-radius: 1rem;
}

.container {
  /* margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: var(--first-color);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 2rem auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 800px;
}

.form > * {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
}

.form input:last-of-type {
  width: 200px;
  margin: 0 auto;
}

.grid-container-about {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-evenly;
  align-content: center;
}

.h3 {
  margin: 1rem auto 4rem;
  text-align: center;
  width: 10rem;
  border-bottom: solid var(--first-color);
  border-top: solid var(--first-color);
}

.header {
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: var(--first-color);
  padding: 0.75rem;
  z-index: 99;
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  margin-left: 2%;
  font-weight: bold;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 1.5rem;
}

.portfolio {
}

.portfolio h3 {
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  background-color: var(--opp-color);
  width: 100%;
  height: 100%;
  color: var(--text-color);
  transition: all 0.5 ease-in;
}
.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-evenly;
  min-height: 50vh;
}

.tecnologies {
  display: grid;
  align-content: center;
  height: 50vh;
  background-color: var(--alt-color);
}

.tecnologies-content {
  width: 100%;
  align-content: center;
  height: 30vh;
}

.svg {
  justify-content: space-evenly;
}

.svg svg {
  fill: var(--second-color);
  width: 7.5rem;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .hero-image-content {
    flex-direction: column;
  }

  .hero-image-title,
  .hero-image-text {
    font-size: 6vw;
  }
  .hero-image-text {
    font-size: 3vw;
  }

  .portfolio-grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 90%;
    gap: 1rem;
    min-height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .grid-container-about {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;
  }

  .form {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-image-title,
  .hero-image-text {
    padding: 0 5%;
    font-size: 8vw;
  }

  .hero-image-text {
    font-size: 4vw;
    padding: 5% 5%;
  }

  .card a {
    width: 8rem;
  }

  .card svg {
    width: 6rem;
  }
}
